* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #0084FD;
}

nav {
    min-height: 5em;
}

.boxed {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
    align-items: center;
}