:root {
    --primary-col: #0084fd;
    --primary-col-light: #b5ddff;
    --secondary-col: #9792e4;
    --secondary-col-light: #d5d4f4;
}

/************ UTILITIES ************/

.text-center {
    text-align: center;
}

.margin-bottom2 {
    margin-bottom: 2rem;
}

.margin-top2 {
    margin-top: 2rem;
}

.padding-2 {
    padding: 2rem;
}
