/************ RESET ************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/************ FLEX ************/

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
    align-items: center;
}

/************ BODY ************/

.boxed {
    max-width: 600px;
    margin: 0 auto;
}

/************ HEADER ************/

header {
    background-color: #0084FD;
}

nav {
    padding: 1em;
}

.links-nav {
    display: none;
}

/************ FEATURES ************/

.features .col {
    width: 100%;
}

.features .col-bigger {
    width: 100%;
    padding: 1em;
}

.col {
    padding: 1em;
}

.card-features {
    width: 100%;
    height: 22em;
    border-radius: 30px;
    background-color: #B5DDFF;
}

.card-features-bigger {
    width: 100%;
    height: 40em;
    border-radius: 30px;
    background-color: #B5DDFF;
}

/************ PLANNING ************/

.planning {
    background-color: #9792E4;
}

.planning .col {
    width: 100%;
}

.card-planning {
    height: 40em;
    border-radius: 30px;
    background-color: purple;
}

/************ TESTIMONIALS ************/

.testimonials .col {
    width: 100%;
}

.card-testimonials {
    width: 100%;
    height: 35em;
    background-color: #9792E4;
    border-radius: 30px;
}

/************ BENEFITS ************/

.benefits {
    padding: 1em;
    background-color: #9792E4;
}

.benefits .col {
    width: 100%;
}

.card-benefits {
    width: 100%;
    height: 20em;
    border-radius: 30px;
    background-color: white;
}

/************ ABOUT US ************/

.about {
    padding: 1em;
}

.circle {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    background-color: #9792E4;
}

/************ MEDIA QUERY ************/

body.debug {
    background-color: red;
}

/* TABLET */
@media screen and (min-width: 768px) {

    /* BODY */
    body.debug {
        background-color: orange;
    }
    .boxed {
        max-width: 1200px;
        margin: 0 auto;
    }

    /* FEATURES */
    .features .col {
        width: calc(100% / 3);
    }
    .features .col-bigger {
        width: calc(100% / 3 * 2);
        padding: 1em;
    }
    .col {
        padding: 1em;
    }
    .card-features {
        width: 100%;
        height: 30em;
        border-radius: 30px;
        background-color: #B5DDFF;
    }
    .card-features-bigger {
        width: 100%;
        height: 30em;
        border-radius: 30px;
        background-color: #B5DDFF;
    }
}