/************ RESET ************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/************ COLORS ************/

:root {
    --primary-col: #0084fd;
    --primary-col-light: #b5ddff;
    --secondary-col: #9792e4;
    --secondary-col-light: #d5d4f4;
}

.white {
    color: white;
}

.black {
    color: black;
}

.bg-white {
    background-color: white;
}

/************ FLEX ************/

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
    align-items: center;
}

.align-stretch {
    align-items: stretch;
}

/************ BODY ************/

body {
    font-family: sans-serif;
}

p {
    line-height: 2rem;
    word-spacing: 5px;
}

button {
    letter-spacing: 5px;
    cursor: pointer;
}


.boxed {
    max-width: 600px;
    margin: 0 auto;
}

/************ HEADER ************/

header {
    background-color: var(--primary-col);
}

nav {
    padding: 1em;
}

.links-nav {
    display: none;
}

/************ FEATURES ************/

.features .col {
    width: 100%;
}

.features .col-bigger {
    width: 100%;
    padding: 1rem;
}

.col {
    padding: 1rem;
}

.card-features {
    width: 100%;
    border-radius: 30px;
    background-color: var(--primary-col-light);
}

.card-features-bigger {
    width: 100%;
    border-radius: 30px;
    background-color: var(--primary-col-light);
}

.features h2 {
    font-size: 2rem;
    color: var(--primary-col);
}

.features p {
    margin-top: 2rem;
    font-size: 1.2em;
    color: #5A6E7F;
}

.features button {
    color: white;
    background-color: var(--primary-col);
    font-size: 1.5rem;
    margin-top: 2rem;
    border-radius: 50px;
    border: none;
    padding: 0.5em 0em;
    width: 90%;
}

.features img {
    width: 100%;
    display: block;
}

.features-icon {
    color: var(--primary-col);
    font-size: 5rem;
}

/************ PLANNING ************/

.planning {
    background-color: var(--secondary-col);
}

.planning .col {
    width: 100%;
}

.card-planning {
    border-radius: 30px;
}

.planning img {
    width: 100%;
}

.planning-icon {
    background-color: var(--secondary-col);
    align-self: center;
    aspect-ratio: 1/1;
    width: max-content;
    font-size: 1.5rem;
    border-radius: 50%;
    padding: 20px;
}

/************ TESTIMONIALS ************/

.testimonials {
    margin-bottom: 2rem;
}

.testimonials .col {
    width: 100%;
}

.card-testimonials {
    width: 100%;
    background-color: #9792E4;
    border-radius: 30px;
}

.testimonials h2 {
    color: var(--secondary-col);
    font-size: 2rem;
}

.testimonials h4 {
    font-weight: 100;
}

.testimonials img {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 50%;
    border-radius: 50%;
}

/************ BENEFITS ************/

.benefits {
    padding: 1em;
    background-color: #9792E4;
}

.benefits .col {
    width: 100%;
}

.card-benefits {
    width: 100%;
    border-radius: 30px;
    background-color: white;
}

.benefits h2 {
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
}

.benefits h3 {
    font-size: 2em;
    color: var(--secondary-col);
}

.benefits strong {
    font-size: 3em;
    color: var(--secondary-col);
}

.benefits button {
    color: white;
    font-size: 1em;
    padding: 1em;
    background-color: var(--secondary-col);
    border: none;
    border-radius: 50px;
    width: 50%;
}

/************ ABOUT US ************/

.about {
    padding: 1rem;
}

.about h2 {
    font-size: 2rem;
    color: var(--secondary-col);
}

.about img {
    width: 30%;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

#img-text {
    font-size: 2rem;
    color: var(--secondary-col);
}

.about-icon {
    color: white;
    margin-right: 1rem;
}

.about button {
    color: white;
    font-size: 1em;
    padding: 1em;
    background-color: var(--secondary-col);
    border: none;
    border-radius: 50px;
    width: 50%;
    letter-spacing: 0px;
}

/************ GET STARTED ************/

.get-started {
    padding: 1rem;
    background-color: var(--secondary-col);
}

.get-started h4 {
    color: white;
    font-weight: 100;
}

.get-started h2 {
    font-size: 2.5em;
    color: white;
}

.get-started span {
    font-size: 4em;
    color: #FDC15F;
    font-weight: 600;
}

.get-started button {
    font-size: 1.5em;
    background-color: white;
    color: var(--secondary-col);
    border: none;
    padding: 1.5rem;
    width: 80%;
    border-radius: 50px;
}

.get-started small {
    font-size: large;
    color: white;
}

.get-started a {
    color: white;
}

/************ FOOTER ************/

footer {
    background-color: #333333;
}

footer p {
    color: white;
    text-align: center;
}

footer a {
    color: var(--secondary-col);
}

/************ MEDIA QUERY ************/

body.debug {
    background-color: red;
}

/* TABLET */
@media screen and (min-width: 768px) {

    /* BODY */
    body.debug {
        background-color: orange;
    }
    .boxed {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: stretch;
    }

    /* FEATURES */
    .features .col {
        width: calc(100% / 3);
    }
    .features .col-bigger {
        width: calc(100% / 3 * 2);
        padding: 1rem;
    }
    .col {
        padding: 1rem;
    }
    .card-features {
        width: 100%;
        border-radius: 30px;
        background-color: #B5DDFF;
    }
    .card-features-bigger {
        width: 100%;
        border-radius: 30px;
        background-color: #B5DDFF;
    }
    .features h2 {
        font-size: 1.5rem;
        color: var(--primary-col);
    }
    .features p {
        margin-top: 2rem;
        font-size: 1.2em;
        color: #5A6E7F;
    }
    .features button {
        color: white;
        background-color: var(--primary-col);
        font-size: 1.5rem;
        margin-top: 2rem;
        border-radius: 30px;
        border: none;
        padding: 0.5em 0em;
        width: 50%;
    }
    .features img {
        margin-left: 1rem;
        width: 60%;
        display: block;
    }
    
    .features-icon {
        color: var(--primary-col);
        font-size: 5rem;
    }

    /* TESTIMONIALS */
    .testimonials .card-testimonials{
        text-align: left;
    }
    .card-testimonials {
        flex-direction: row;
        align-items: center;
    }
    .testimonials img {
        width: 80%;
    }
    .testimonials p {
        margin-top: 0;
    }

    /* BENEFITS */
    .benefits .col {
        width: 50%;
    }

    /* ABOUT */
    .about .col {
        width: 50%;
    }
    .about button {
        width: 65%;
    }

    /* GET STARTED  */
    .get-started .col {
        max-width: 600px;
        margin: 0 auto;
    }

    /* FOOTER */
    footer .col {
        max-width: 600px;
        margin: 0 auto;
    }
}