/************ RESET ************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/************ COLORS ************/

:root {
    --primary-col: #0084fd;
    --primary-col-light: #b5ddff;
    --secondary-col: #9792e4;
    --secondary-col-light: #d5d4f4;
}

.white {
    color: white;
}

.black {
    color: black;
}

.bg-white {
    background-color: white;
}

/************ FLEX ************/

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
    align-items: center;
}

.align-stretch {
    align-items: stretch;
}

/************ BODY ************/

body {
    font-family: sans-serif;
}

.boxed {
    max-width: 600px;
    margin: 0 auto;
}

/************ HEADER ************/

header {
    background-color: var(--primary-col);
}

nav {
    padding: 1em;
}

.links-nav {
    display: none;
}

/************ FEATURES ************/

.features .col {
    width: 100%;
}

.features .col-bigger {
    width: 100%;
    padding: 1rem;
}

.col {
    padding: 1rem;
}

.card-features {
    width: 100%;
    border-radius: 30px;
    background-color: var(--primary-col-light);
}

.card-features-bigger {
    width: 100%;
    border-radius: 30px;
    background-color: var(--primary-col-light);
}

.features h2 {
    font-size: 2rem;
    color: var(--primary-col);
}

.features p {
    margin-top: 2rem;
    font-size: 1.2em;
    color: #5A6E7F;
}

.features button {
    color: white;
    background-color: var(--primary-col);
    font-size: 1.5rem;
    margin-top: 2rem;
    border-radius: 30px;
    border: none;
    padding: 0.5em 0em;
    width: 90%;
}

.features img {
    width: 100%;
    display: block;
}

.features-icon {
    color: var(--primary-col);
    font-size: 5rem;
}

/************ PLANNING ************/

.planning {
    background-color: var(--secondary-col);
}

.planning .col {
    /* width: 100%; */
}

.card-planning {
    border-radius: 30px;
}

.planning img {
    width: 100%;
}

.planning-icon {
    background-color: var(--secondary-col);
    align-self: center;
    width: max-content;
    font-size: 1.5rem;
    border-radius: 50%;
    padding: 20px;
}

/************ TESTIMONIALS ************/

.testimonials .col {
    width: 100%;
}

.card-testimonials {
    width: 100%;
    height: 35em;
    background-color: #9792E4;
    border-radius: 30px;
}

/************ BENEFITS ************/

.benefits {
    padding: 1em;
    background-color: #9792E4;
}

.benefits .col {
    width: 100%;
}

.card-benefits {
    width: 100%;
    height: 20em;
    border-radius: 30px;
    background-color: white;
}

/************ ABOUT US ************/

.about {
    padding: 1em;
}

.circle {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    background-color: #9792E4;
}


/************ MEDIA QUERY ************/

body.debug {
    background-color: red;
}

/* TABLET */
@media screen and (min-width: 768px) {

    /* BODY */
    body.debug {
        background-color: orange;
    }
    .boxed {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: stretch;
    }

    /* FEATURES */
    .features .col {
        width: calc(100% / 3);
    }
    .features .col-bigger {
        width: calc(100% / 3 * 2);
        padding: 1rem;
    }
    .col {
        padding: 1rem;
    }
    .card-features {
        width: 100%;
        border-radius: 30px;
        background-color: #B5DDFF;
    }
    .card-features-bigger {
        width: 100%;
        border-radius: 30px;
        background-color: #B5DDFF;
    }
    .features h2 {
        font-size: 1.5rem;
        color: var(--primary-col);
    }
    .features p {
        margin-top: 2rem;
        font-size: 1.2em;
        color: #5A6E7F;
    }
    .features button {
        color: white;
        background-color: var(--primary-col);
        font-size: 1.5rem;
        margin-top: 2rem;
        border-radius: 30px;
        border: none;
        padding: 0.5em 0em;
        width: 50%;
    }
    .features img {
        margin-left: 1rem;
        width: 60%;
        display: block;
    }
    
    .features-icon {
        color: var(--primary-col);
        font-size: 5rem;
    }
}